body{
  margin: 0;
  padding: 0;
}

body {
  background-color: salmon; 
  font-family: serif;, Times New Roman;
}

header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 32px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  margin: 0 10px; 
}

#featured-property {
  background-color: #fff;
  padding: 20px;
}

#featured-property figure {
  text-align: center;
}

#featured-property img {
  max-width: 100%;
  height: auto;
}


#details {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  padding: 20px;
}

#details div {
  text-align: center; 
}

#details h3 {
  font-size: 18px;
  margin-bottom: 10px; 
}

#details p {
  font-size: 14px;
  margin-bottom: 10px;
}

#details a {
  color: #333;  
}